<div class="center hero-unit">
  <h1>Welcome to the start page my note manager</h1>
<h2>Some common words about this service.</h2>

  <%= link_to "Sign up now!", '#' , class: "btn btn-large btn-primary" %>
</div>
