<% provide(:title, "Personal page") %>
  <div class="span8">
    <%= "#{@user.email}" %>
  </div>
  <div class="span8">
    <% if @user.notes.any? %>
      <h3>notes (<%= @user.notes.count %>)</h3>
      <ol class="notes">
        <%= render @notes %>
      </ol>
      <% end %>
  </div>
</div>